// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.note {
  border: 1px solid black;
  // border-radius: 5px;
  padding: 5px;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: auto;

  .note-content {
    float: left;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F0F0F0;
    margin-bottom: 10px;
    width: 100%;

    .note-textarea {
      width: 100%;
      border: none;
    }
  }

  .info {

  }

  .note-operations {
    clear: both;
  }
}

.tile {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 300px;

  .title {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .note-summary {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #F0F0F0;
    border-radius: 5px;
    word-break: break-all;
  }
}